<% provide(:title, 'All users') %>
<h1>All users</h1>

<%= will_paginate %>

<ul class="users">
  <% @users.each do |user| %>
  <li>
    <%= gravatar_for user, size: 52 %>
    <div>
      <%= link_to user.name, user %>
    </div>
    <div>
      <%= mail_to user.email %>
    </div>
  </li>
  <% end %>
</ul>

<%= will_paginate %>
